@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption {
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: inherit;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
select,
textarea {
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
